.corpo{
    background-color: white;
    color: black;
    margin-top: 120px;
    width: 100vw;
    display: flex;
    gap: 65px;
    height: 83%;
    align-items: flex-start;
}

.descricao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}


.card1{
   max-width: 327px;
   width: 100%;
    height: 310px;
    border-radius: 4px;
    border: solid 1px 
    rgb(206, 206, 206);
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.card1 > h4{
    font-size: 12px;
    font-weight: 400;
}

.card1 > input{
    padding: 0px 16px 0px 16px;
    border-radius: 8px;
    background-color: rgba(248, 249, 250, 1);
    border: none;
    height: 53px;
    max-width: 327px;
    width: 80%;
}

.card1 > span{
    font-size: 12px;
    font-weight: 400;
    color: rgb(181, 182, 184);
    margin-top: 10px;
}

.card1 > div{
    display: flex;
    justify-content: space-between;
   
}

p{
    font-size: 12px;
    font-weight: 400;
}

.valor > input{
    border-radius: 8px;
    height: 48px;
    width: 128px;
    background-color: rgba(248, 249, 250, 1);
    border: none;
    padding: 0px 16px 0px 16px;
}

select{
    border-radius: 8px;
    height: 48px;
    width: 150px;
    background-color: rgba(248, 249, 250, 1);
    border: none;
    padding: 0px 16px 0px 16px;
}


.enviarValor{
    border: none;
    color: white;
    font-weight: bold;
    width: 100%;
    max-width: 327px;
    width: 100%;
    
}

.enviarValor:hover{
    filter:brightness(0.90)
}


.card2{
    max-width: 327px;
    width: 100%;
    border-radius: 4px;
    border: solid 1px rgb(206, 206, 206);
    padding: 20px;
    color: black;
    
}

.card2 > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card2 > div > p{
    font-weight: 700;
    font-size: 16px;
}

.card2 > div > span{
    color: rgba(253, 55, 126, 1);
    font-weight: 700;
    font-size: 16px;
}


