.bloco1{
 
    gap: 30px;
    display: flex;
    flex-direction: column;
    height: 515px;
    align-items: center;
    justify-content: center;
    width: 100%;
  
}

.bloco2{
    height: 70%;
    width: 80%;
    min-width: 455px;;
}


.header{
    width: 100vw;
    height: 88px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    gap: 400px;
    
 
}

.sectionBloco{
    display: flex;
    gap: 2rem;
    margin-top: 50px;
}




