
.financeiro > div{
    display: flex;
    justify-content: center;
    gap: 10px;
    justify-content: space-between;
    color: black;
    width: 90%;
    max-width: 680px;
 }
 
.financeiro > div > p{
    font-size: 16px;
    font-weight: 700;
    margin-right: 27px;
    margin-top: 8px;
    width: 40%;
 }
 
 .btn{
     margin: 0;
     height: 40px;
     border: none;
     border-radius: 8px;
     width: 87px;
     background-color: rgba(233, 236, 239, 1);
     color: black;
 
 }
 
.btn:hover{
     background-color:rgb(102, 102, 102);
     color: white;
 }
 
 .btnTodosFinanceiro{
     margin: 0;
     height: 40px;
     border: none;
     border-radius: 8px;
     width: 87px;
     color: rgb(255, 255, 255);
 }
 

 
 
 
 